@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");
.all-requests-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #f0525d;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  font-family: "Poppins";
}

.all-requests-container .header h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1vw;
  margin-top: 2vw;
  transition: all ease-in-out 400ms;
}

.all-requests-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-requests-container .cards__item {
  flex: 0 0 calc(50% - 2vw);
  padding: 1vw;
  margin: 0vw;
}

.all-requests-container .card {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  border-radius: 0.25rem;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 400ms;
}

.all-requests-container .card__content {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

.all-requests-container .card__title {
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.all-requests-container .card__title span {
  color: #f0525d;
  font-weight: 600;
}

.all-requests-container .card__text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-family: sans-serif;
  font-weight: 400;
}

.all-requests-container .btn-all-req {
  padding: 10px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all ease-in-out 400ms;
  background-color: black;
  color: white;
}

.all-requests-container .btn-all-req:hover {
  background-color: crimson;
  color: white;
}

@media (max-width: 600px) {
  .all-requests-container .header h1 {
    margin: 5vw;
  }

  .all-requests-container .cards__item {
    flex: 0 0 100%;
    margin-bottom: 2vw;
  }
}
