.slick-slide > div {
  margin: 10px;
  padding: 10px;
}
.card-carousel {
  min-height: 200px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.slider {
  text-align: center;
  min-width: 300px;
  max-width: 700px;
  margin-bottom: 20px;

  & h2 {
    font-size: 2rem;
    color: #606060;
  }

  & p {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 1rem;
  }
}
