@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid #1f1f1f;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  font-family: "Poppins";
  background: #ffff;
}
.content .left {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 5vw 4vw;
}
.content .left h2 {
  font-size: 3rem;
  font-weight: 100;
}
.content .left p {
  font-size: 3.8rem;
  font-weight: 600;
}
.content .left p span {
  text-transform: uppercase;
  color: #a80000;
}

.content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin: 0;
}
.content .right h4 {
  font-size: 3rem;
  margin-bottom: auto;
  transition: all 0.5s;
  text-align: center;
}
.content .right h4 span {
  text-transform: uppercase;
  position: relative;
  color: #262626;
}

.content .right h4:hover {
  text-decoration: underline crimson;
}
.content .right h4 span:hover:before {
  width: 100%;
}
.content .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin-top: 20px;
  /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); */
}

.bottom {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 2vw;
  font-family: "Poppins";
}
.bottom .request {
  padding: 5vw 0vw;
  text-align: center;
  width: 50%;
  color: #262626;
  text-decoration: none;
  padding: 4vw 13vw;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
}
.bottom .request:hover {
  background-color: #262626;
  color: bisque;
  box-shadow: 10px 5px 5px gray;
}
.bottom .request p {
  padding-top: 5vw;
  font-size: 1.2rem;
  text-transform: none;
}

.bottom .donors {
  width: 50%;
  padding: 4vw 13vw;
  color: #262626;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 400ms;
}
.bottom .donors:hover {
  background-color: #262626;
  color: bisque;
  box-shadow: 10px 5px 5px gray;
}
.bottom .donors p {
  padding-top: 5vw;
  font-size: 1.2rem;
  text-transform: none;
}

.all_requests {
  font-family: "Poppins";
  text-transform: uppercase;
  text-decoration: none;
  padding: 50px;
  padding-bottom: 10vw;
  padding-top: 100px;
  color: #262626;
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 400ms;
}
.all_requests:hover {
  background-color: #262626;
  color: bisque;
}
.all_requests p {
  padding-top: 5vw;
  font-size: 1.2rem;
  text-transform: none;
}

@media (max-width: 710px) {
  .content .right .carousel {
    width: 600px;
  }
  .bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    & .request,
    .donors {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .nav {
    padding: 0 3vw;
  }
  .nav h2 {
    font-size: 7vw;
  }
  .nav h4 {
    font-size: 4vw;
  }
  .content {
    display: flex;
    flex-direction: column;
  }

  .hero h2 {
    font-size: 2.5rem;
    font-weight: 100;
  }
  .content .right {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .content .right .carousel {
    width: 500px;
  }
  .content .right span {
    text-align: center;
  }

  .bottom {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2vw;
    padding-top: 10vw;
  }
  .bottom .request {
    width: 100%;
    padding: 10vw;
  }

  .bottom .donors {
    width: 100%;
    padding: 10vw;
  }
  .all_requests {
    padding-bottom: 50vw;
  }
}

@media (max-width: 500px) {
  .content .right .carousel {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .content .right .carousel {
    width: 300px;
  }
}
