@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.main-find-donors {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #f0525d;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  font-family: "Poppins";
}
.main-find-donors .left {
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 2vw;
  width: 400px;
  padding: 20px;
}
.main-find-donors .left .header {
  text-align: center;
  font-family: "Poppins";
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.main-find-donors .left .header span {
  color: #f0525d;
}
.main-find-donors .left .header p {
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  color: gray;
}
.main-find-donors .left .input-group {
  display: flex;
  padding: 9px;
}
.main-find-donors .left .input-group input {
  font-size: 1rem;
  border: 1px solid #fce7e2;
  border-left: 2px solid #f0525d;
  width: 100%;
  padding: 8px;
}
.main-find-donors .left .input-group input::placeholder {
  font-family: "Poppins";
  font-size: 1.2rem;
  color: black;
}
.main-find-donors .left .input-group input:focus {
  outline: none;
}

.main-find-donors .left .radio-group {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 3px 0 0 0;
}
.main-find-donors .left .input-group .dob {
  font-family: "Poppins";
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 6px;
}
.main-find-donors .left .radio-group .duo {
  display: flex;
  flex-direction: column;
}
.main-find-donors .left .radio-group label {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 5px;
}
.main-find-donors .left .radio-group > * {
  padding: 0 10px;
}
.main-find-donors .left .button button {
  width: 100%;
  background-color: #fce7e2;
  background-image: none;
  border: 1px solid #f0525d;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 10px;
  color: black;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: #f0525d;
    color: white;
    box-shadow: none;
  }
}

@media (max-width: 840px) {
  .main-find-donors {
    display: flex;
  }
  .main-find-donors .left {
    border: none;
    width: 400px;
    margin: 20px 0;
  }
  .main-find-donors .right {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .main-find-donors {
    display: flex;
  }
  .main-find-donors .left {
    margin: 20px 5px;
    border: none;
    width: 400px;
  }
}
@media (max-width: 425px) {
  .main-find-donors {
    display: flex;
  }
  .main-find-donors .left {
    width: 350px;
  }
  .main-find-donors .right {
    width: 100%;
  }
  .main-find-donors .left .select-group > * {
    padding: 0 5px;
  }
}

@media (max-width: 360px) {
  .main-find-donors {
    display: flex;
  }
  .main-find-donors .left {
    width: 300px;
  }
}
