@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.footer {
  position: relative;
  font-family: "Poppins";
  width: 100%;
  padding: 20px;
  min-height: 100px;
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e9e9e9;
}

.footer .about {
  color: #e9e9e9;
  padding-bottom: 10px;
  width: 100%;
  border-top: 1px solid crimson;
  background-color: crimson;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer .about h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}
.footer .about p {
  color: white;
  margin: 15px 0 10px 0;
  font-size: 1rem;
}

.footer .about .dev {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.footer .about .dev .social {
  margin-top: 3vw;
}
.footer .about .dev .social a {
  text-decoration: none;
  color: black;
}
.footer .about .dev p {
  font-size: 1rem;
  padding-top: 2vw;
}
