@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.nav {
  font-family: "Poppins";
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0vw;
  margin: 0.5vw;
}
a {
  text-decoration: none;
}
.nav h2 {
  padding: 10px;
  border-radius: 10px;
  font-size: 2.5vw;
  font-weight: 700;
  transition: all ease-in-out 300ms;
}
.nav h2 span {
  color: crimson;
}
.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.nav-link {
  padding: 10px;
  text-align: center;
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
}
.nav-btn-update {
  text-decoration: none;
  appearance: button;
  background-color: black;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  overflow: visible;
  padding: 5px 10px;
  text-align: center;
  line-height: 30px;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
}
.nav-btn-user {
  appearance: button;
  background-color: black;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
}

.nav-btn-out {
  appearance: button;
  background-color: crimson;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  padding: 5px 10px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
}

.user-img {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.user-img img {
  width: 4vw;
  border-radius: 50%;
  transition: all ease-in-out 300ms;
}
.user-img img:hover {
  color: white;
  border-radius: 50%;
  box-shadow: 10px 5px 5px lightgray;
  background-color: crimson;
  transform: translateY(-4px);
  font-size: 1.2rem;
}
.dropdown-container {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media (max-width: 600px) {
  .nav h2 {
    font-size: 6vw;
  }
  .nav-user {
    padding: 0;
    width: 100%;
  }
  .nav-link {
    margin: 0;
    padding: 0;
    gap: 5px;
  }
  .nav-btn-user {
    font-size: 13px;
  }
  .nav-btn-out {
    padding: auto;
    font-size: 12px;
  }
  .nav-btn-update {
    font-size: 12px;
  }
  .user-img img {
    margin: 0;
    padding: 0;
    width: 10vw;
  }
}
