@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background: rgb(255, 198, 124);
  background: linear-gradient(
    186deg,
    rgba(255, 198, 124, 1) 0%,
    rgba(255, 255, 255, 1) 60%
  );
}
.register .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 3vw;
}
.register .left .header {
  font-size: clamp(1rem, 0.7714rem + 1.1429vw, 1.8rem);
  font-family: "Poppins";
  padding-bottom: 15px;
}
.register .left .header p {
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  color: rgb(61, 61, 61);
}
.register .left .input-group {
  display: flex;
  padding: 9px;
  justify-content: space-between;
}
.register .left .input-group input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid lightslategray;
  width: 100%;
  font-weight: 300;
  padding: 8px;
}
.register .left .input-group input::placeholder {
  font-family: "Poppins";
  font-size: 1rem;
  color: black;
}
.register .left .input-group input:focus {
  outline: none;
}

.register .left .radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 3px 0 0 0;
}
.register .left .input-group .dob {
  font-family: "Poppins";
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  padding: 6px;
}
.register .left .radio-group .duo {
  display: flex;
  flex-direction: column;
}
.register .left .radio-group label {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 5px;
}
.register .left .radio-group > * {
  padding: 0 10px;
}
.register .left .button button {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  margin-top: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #e5e5e5;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-weight: 400;
  font-size: 1rem;
}
.register .left .button button:hover {
  box-shadow: 10px 5px 5px gray;
  transform: translateY(-5px);
  background-position: right center;
  color: #fff;
}
.register .right {
  width: 50%;
}
.register .right img {
  z-index: 2;
  width: 100%;
  mix-blend-mode: lighten;
}

@media (max-width: 840px) {
  .register {
    display: block;
  }
  .register .left {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .register .right {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .register {
    display: block;
  }
  .register .left {
    width: 100%;
  }
  .register .right {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .register {
    display: block;
    width: 100%;
  }
  .register .left {
    width: 100%;
  }
  .register .right {
    width: 100%;
  }
  .register .left .select-group > * {
    padding: 0 5px;
  }
}

@media (max-width: 325px) {
  .register {
    display: block;
    width: 100%;
  }
  .register .left {
    width: 100%;
  }
  .register .right {
    width: 100%;
  }
}
