@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.centered-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-family: "Poppins";
      font-size: 3rem;
      position: absolute;
      color: white;
      top: 5vh;
      & span {
        color: #a80000;
      }
    }
  }
}

.centered-image {
  max-width: 100%;
  height: auto;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  background-color: #4285f4;
  border-radius: 4px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.3);
  font-family: "Poppins";
  width: 300px;
  cursor: pointer;
  font-size: 20px;
  overflow: visible;
  padding: 3px;
  text-align: center;
  line-height: 30px;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  border: none;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: white 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  & img {
    border-radius: 3px;
    padding: 0;
    /* border: 1px solid black; */
  }
  & p {
    /* border: 1px solid black; */
  }
}
