@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.centered-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #eaeaea;
  .sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-family: "Poppins";
      font-size: 3rem;
      position: absolute;
      top: 5vh;
      & span {
        color: #a80000;
      }
    }
  }
}

.centered-image {
  max-width: 100%;
  height: auto;
}

.btn {
  text-decoration: none;
  appearance: button;
  background-color: #a80000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #1f1f1f 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  overflow: visible;
  padding: 10px 20px;
  text-align: center;
  line-height: 30px;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: #1f1f1f 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
}
