@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

.update-user-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f0525d;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  font-family: "Poppins";

  & h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 10px;
  }

  & button {
    cursor: pointer;
  }

  & .user-data {
    background-color: #ffff;
    width: 500px;
    max-width: 300px;
    margin-top: 50px;
    padding: 10px 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
    & ul {
      & li {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        list-style: none;

        & span {
          font-weight: 600;
          color: crimson;
        }
      }
    }
  }

  & .edit-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;

    & button {
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1rem;
      margin: 0 5px 10px 0;
      padding: 12px 40px;
      text-align: center;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
    & .btn-edit {
      background-color: black;
      color: white;
      color: white;
      box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.05);
      transition: 0.4s ease-in-out;
      background-color: #212121fd;
      &:hover {
        background-color: black;
        box-shadow: none;
      }
    }
    & .btn-delete {
      background-color: #fce7e2;
      background-image: none;
      border: 1px solid #f0525d;
      color: black;
      box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.05);
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: #f0525d;
        color: white;
        box-shadow: none;
      }
    }
  }
}

.modal {
  width: 100%;
  font-size: 12px;
  font-family: "Poppins";

  & .button-edit {
    appearance: button;
    background-color: #242424fd;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 1rem;
    overflow: visible;
    padding: 10px 40px;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    color: white;
    box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: black;
      box-shadow: none;
    }
  }
}

.modal > .header {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  color: #1f1f1f;
}
.modal > .content-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.content-edit {
  /* background-color: aqua; */
  & form {
    /* background-color: red; */
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */

    & .input {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & input {
        /* background-color: #d4d4d4; */
        font-size: 1rem;
        width: 100%;
        text-align: center;
        appearance: none;
        border: none;
        outline: none;
        border: 1px solid #fce7e2;
        border-left: 2px solid #f0525d !important;
        padding: 0.4em;
        color: black;
        font-weight: 400;

        &::placeholder {
          font-family: "Poppins";
        }
        &:focus {
          outline: none;
        }
      }
    }
    & .input-dob {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      gap: 0.5rem;
      width: 100%;
      & input {
        padding: 5px 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
      }
      & label {
        color: #f0525d;
        font-weight: 600;
      }
    }
    & .selection {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & select {
        padding: 5px 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
      }
      & label {
        color: #f0525d;
        font-weight: 600;
      }
    }
  }
  & p {
    font-family: "Poppins";
    text-align: center;
    font-size: 1rem;
  }
}
.actions {
  & .button-delete {
    appearance: button;
    background-color: #fce7e2;
    background-image: none;
    border: 1px solid #f0525d;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 15px;
    overflow: visible;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    color: black;
    box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: #f0525d;
      color: white;
      box-shadow: none;
    }
  }
}
