@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@500;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0525d;
  border-radius: 5px;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-thumb {
  background-color: #f0525d;
}

.animate {
  animation: animate forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}
.animate_2 {
  animation: animate_2 forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}

.animate_3 {
  animation: animate_3 forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}

@keyframes animate {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animate_2 {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animate_3 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fadein {
  animation: fadein forwards 1s;
  animation-delay: 0.4s;
  transform: translateX(-200px);
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.border {
  border: 1px solid gray;
}
